rules_version = "2";

service cloud.firestore {
  match /databases/{database}/documents {
  	function isOwnerWrite() {
    	return 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.subdomain 
        == 
        request.resource.data.subdomain;
    }
    
    function isOwnerRead() {
    	return 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.subdomain 
        == 
        resource.data.subdomain;
    }
  
		// Endpoints:
		// - Authenticated owner can read, write
		match /endpoints/{endpointId} {
    	allow read: 
      	if isOwnerRead();
      allow write:
      	if isOwnerWrite();
    }
    
    // Users
    // - Authenticated users can create new users docs
    // - Only users can read, update and delete their own data
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
  }
}